@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424224;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header */
.wrapper-header{

    /* height: 80px; */

}


/* navbar style */
.nav-bar{
    justify-content: space-between;
    align-items: center;
   
}
.nav-bar .brand{
    font-weight: 700;
    font-size: 22px;
}
.nav-list{
   
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
   

}

.nav-bar, .banner{
    /* max-width: 1440px; */
    margin: 0 auto;
    padding: 50px 100px;
    /* border: 2px solid black; */
   
}
img{
    /* max-width: 100%; */
}

/* banner */
.banner{
    /* display: block;
    margin: 0 auto;
    text-align: center; */
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.banner-descripation{
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 30px; 
}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    transition: background-color  0.3s ease ;
}
.btn-primary:hover{
    background-color: #d37407;

}
.banner .banner-img {
    width: 100%;
    /* height: auto; */
    margin-top: 20px;
    border-radius: 20px;
}

/* responnsive media query */
@media screen and (max-width:576px) {
    .nav-bar, .nav-list{
        flex-direction: column;
    }
    
}